<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahoo.reportr">

    <permission android:name="com.yahoo.reportr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.yahoo.reportr.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.activity.UserActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.TopicActivity" />
        <activity android:name=".ui.view.activity.BlogListActivity" />
        <activity android:name=".ui.view.activity.PostListActivity" />
        <activity android:name=".ui.view.activity.SubmissionActivity" />
        <activity android:name=".ui.view.activity.OntologyActivity" />
        <activity android:name=".ui.view.activity.OntologyItemActivity"></activity>

        <service android:name=".data.service.BlogListService"/>
        <service android:name=".data.service.OntologyService"/>
        <service android:name=".data.service.RegistrationIntentService"/>
        <service
            android:name=".data.service.InstanceIDListenerServiceImpl"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.yahoo.reportr" />
            </intent-filter>
        </receiver>
        <service
            android:name=".data.service.GcmMessageHandler"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>
